@import "compass/reset";

body {
	background-color: #000;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 12px;
}

.sidebar {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 250px;
	background-color: #CCC;

	font-weight: normal;
	font-size: 13px;
	
	li.channel a {
		background-color: #30384a;
		padding: 5px 2px 5px 15px;
		color: #FFF;
		border-bottom: 1px solid #FFF;
		text-decoration: none;
		display: block;

		&.active { 
			background-color: #FFF !important;
			color: #000 !important;
		}
	}
}

.main {
	position: absolute;
	left: 250px;
	top: 0;
	bottom: 0;
	right: 0;
	background-color: #EEE;
}

.channel-input {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 6px;

	input {
		display: block;
		width: 100%;
		border: 0px;
		margin: 0;
		font-size: 16px;
		padding: 3px;
		font-family: Arial;
	}
}

#channels .channel {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 25px;
	top: 0;
	background-color: #EEE;

	h1 {
		padding: 3px;
		background-color: #000;
		color: #FFF;
	}
}