/* line 17, ../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/main.scss */
body {
  background-color: #000;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
}

/* line 9, ../sass/main.scss */
.sidebar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 250px;
  background-color: #CCC;
  font-weight: normal;
  font-size: 13px;
}
/* line 20, ../sass/main.scss */
.sidebar li.channel a {
  background-color: #30384a;
  padding: 5px 2px 5px 15px;
  color: #FFF;
  border-bottom: 1px solid #FFF;
  text-decoration: none;
  display: block;
}
/* line 28, ../sass/main.scss */
.sidebar li.channel a.active {
  background-color: #FFF !important;
  color: #000 !important;
}

/* line 35, ../sass/main.scss */
.main {
  position: absolute;
  left: 250px;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #EEE;
}

/* line 44, ../sass/main.scss */
.channel-input {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 6px;
}
/* line 51, ../sass/main.scss */
.channel-input input {
  display: block;
  width: 100%;
  border: 0px;
  margin: 0;
  font-size: 16px;
  padding: 3px;
  font-family: Arial;
}

/* line 62, ../sass/main.scss */
#channels .channel {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 25px;
  top: 0;
  background-color: #EEE;
}
/* line 70, ../sass/main.scss */
#channels .channel h1 {
  padding: 3px;
  background-color: #000;
  color: #FFF;
}
